body {
  font-size: 16px;
  display:flex;
  flex-wrap: nowrap;
  align-items: space-between;
  }


div{
  padding: 10px;
  margin: 10px;
  background-image: linear-gradient(to right, #ee9ca7 0%, #ffdde1 51%, #ee9ca7 100%);
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  border:1px solid rgb(184, 139, 170);
  }
.div:hover { background-position: right center; }

.btn {
color: white;
padding:10px;
text-align: center;
height: 60px;
width: 60px;
background-image: linear-gradient(to right, #4B79A1 0%, #283E51 51%, #4B79A1 100%);
position: relative;
border-radius: 20%;
top: 0px;
right: 0px;
}

.btn:hover { background-position: right center; }


